@model ForgotPasswordViewModel

<div class="container">
    <h2 class="text-center">Забули пароль?</h2>

    <form asp-action="ForgotPassword" class="col-md-6 offset-md-3">
        <div class="my-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger border-danger border rounded-3 my-2"></div>

        <button type="submit" class="btn btn-primary">Надістлати</button>
    </form>
</div>