@model RegisterViewModel

<div class="container">
    <h1 class="text-center">Реєстрація</h1>
    <form asp-action="Register" enctype="multipart/form-data" class="col-md-6 offset-md-3">
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control mb-2">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control mb-2">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control mb-2">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div id="frame" class="border-dashed p-1 rounded-3 overflow-hidden mb-2 d-flex justify-content-center align-items-center" style="opacity: 0;">
                <div class="rounded-3 overflow-hidden d-flex justify-content-center align-items-center">
                    <img id="preview" width="100%" />
                </div>
            </div>
            <label asp-for="Image" class="form-label"></label>
            <input id="file" asp-for="Image" class="form-control mb-2">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control mb-2">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordConfirm" class="form-label"></label>
            <input asp-for="PasswordConfirm" class="form-control mb-2">
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger border-danger border rounded-3 my-2"></div>

        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
</div>


<script>
    const file = document.getElementById("file");
    const preview = document.getElementById("preview");
    const frame = document.getElementById("frame");

    const showImageFile = () => {
        if (file.files[0]) {
            const url = URL.createObjectURL(file.files[0]);
            console.log("show");
            preview.src = url;
            preview.style.width = "100%";
            frame.style.opacity = 1
        } else {
            frame.style.opacity = 0;
            preview.style.width = 0;
        }
    };

    file.addEventListener("change", showImageFile);
</script>