@model ResetPasswordViewModel

<div class="container">
    <h2 class="text-center">Скидання пароля</h2>

    <form asp-action="ResetPassword" class="col-md-6 offset-md-3">
        <div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control mb-2">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control mb-2">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger border-danger border rounded-3 my-2"></div>

        <button type="submit" class="btn btn-primary mt-3">Змінити пароль</button>
    </form>
</div>


