.myBG {
    background: linear-gradient(180deg, #4e5988 0%, #382f42 100%);
}

.myTextBG {
    background: linear-gradient(0deg, #4facfe 0%, transparent 100%);
}

.myBGImage {
    background: radial-gradient(ellipse , #000000 24%, #164d50 100%);
}