.dark .myBG {
    background: linear-gradient(180deg, #4e5988 0%, #382f42 100%);
}
.myBG {
    background: linear-gradient(180deg, #c1ceef 0%, #8787c8 100%);
}

.myBGImage {
    background: radial-gradient(ellipse , #000000 24%, #164d50 100%);
}