html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 4rem;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.border-dashed {
    border: 2px dashed #dee2e6;
}

.actions {
    opacity: 0;
    transition: all 0.2s ease-in;
}

.my-border-end {
    border: 0 0 1px 0 solid transparent;
}

.table-row-hover tbody tr:hover .actions{
    opacity: 1;
}

.table-row-hover tbody tr:hover .my-border-end {
    border: 1px solid #dee2e6;
}

.myModal {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: -1;
    transition: .3s;
}

.myModal-content {
    border: 2px solid #dee2e6;
    border-radius: 10px;
    width: 26rem;
    background: #FFFFFF;
    transition: all 0.3s ease-in;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
}

.myModal-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 2px solid #dee2e6;
}

.myModal-body {
    padding: .5rem;
    border-bottom: 2px solid #dee2e6;
}

.myModal-footer {
    display: flex;
    justify-content: end;
    padding: .5rem;
}

.show {
    animation: showAnimate .3s ease-out;
}

@keyframes showAnimate {
    0%{
        transform: translateY(-150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}