@model List<CategoryItemModel>

<div class="container">
    <h1 class="text-center">Категорії</h1>

    <div class="border rounded overflow-hidden">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-end" style="width: 30px">#</th>
                    <th scope="col" class="border-end" style="width: 150px">Фото</th>
                    <th scope="col">Назва</th>
                    <th scope="col" style="width: 100px"></th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var category in Model)
                {
                    <tr>
                        <th scope="row" class="border-end">@category.Id</th>
                        <td class="border-end">
                            <img src="/images/@category.Image" width="100" />
                        </td>
                        <td class="my-border-end">@category.Name</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
